@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color : #eab308;
}

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin: 0rem;
    background-color: #fefce8;
}

h1 {
    background-color: var(--primary-color);
    margin: 0rem;
    padding: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.description {
    margin: 0rem 20rem;
    padding: 0.5rem;
    text-align: center;
}

p {
    margin: 0.5rem 0rem;
}

.input-fields {
    text-align: center;
    margin: 0rem 20rem 3rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    background-color: #fef9c3 ;
}

#enter-dob {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

#enter-number {
    display: block;
    margin : 0.7rem auto 1rem;
    padding: 0.6rem 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}


button {
    margin-top: 0.2rem;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: var(--primary-color);
    color: whitesmoke;
}

.display-msg {
    color: red;
    font-weight: bold;
    margin-bottom: 0rem;
}

.container {
    align-items: center;
}

label {
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0rem;
    list-style: none;
    background-color: var(--primary-color);
    color: whitesmoke;
}

h3 {
    padding-bottom: 0.5rem;
}

li {
    display: inline;
    padding: 2rem;
    margin: 2rem;
    color: whitesmoke;
}

a {
    color: whitesmoke;
}